---
layout: default
---

<div class="home">
  <h1 class="page-heading"></h1>
  <div class="cover-pic">
    <!-- <img src="https://devdala.files.wordpress.com/2015/04/img_20140626_191537_1-compressor-1.jpg"> -->
  </div>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <div class="author">
      <p class="post-meta">{{ post.date }}</p>
    </div><br />
    <div class="content">
      {% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 450 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 450 }}{% endif %}
    </div>
  {% endfor %}

  <br />
  <hr />

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}

    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
