<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('http://www.getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{"title": "Who let the dogs out"}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/about">/about</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Categories</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Android dev</a>
      <a class="mdl-navigation__link" href="">Sqlite</a>
      <a class="mdl-navigation__link" href="">Python</a>
      <a class="mdl-navigation__link" href="">Mongodb</a>
      <a class="mdl-navigation__link" href="">Gadgets</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>