<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <script>
                    (function() {
                      var cx = '015837852584757943655:etlotv8m3pc';
                      var gcse = document.createElement('script');
                      gcse.type = 'text/javascript';
                      gcse.async = true;
                      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(gcse, s);
                    })();

                    window.onload = function(){
                      document.getElementById('gsc-i-id1').placeholder = 'Search stuff';
                    };
                  </script>
                  <gcse:search></gcse:search>
              </div>
            </div>
          </div>
        </div>
        
        
        {{ content }}
        
        <div id="disqus_thread"></div>
        
        <script>
        var disqus_config = function () {
        this.page.url = window.location.href; 
        this.page.identifier = window.location.href; 
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://hakanu.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </main>

    {%- include footer.html -%}
	<script>
      window.onload = function(){
            document.getElementById('gsc-i-id1').placeholder = 'Search for random stuff from hakanu';
          };
    </script>
  </body>

</html>
